<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>产品手册_网易七鱼</title>
    <link rel="stylesheet" href="./css/doc.css">
    <link rel="stylesheet" href="./css/fit.css">
    <link rel="stylesheet" href="./css/solarized-light.css">
	<style>
		.m-header .logo{
			width: 222px;
		}
		.m-header .logo img{
			width: 120px;
		}
		.m-header .nav li {
			padding: 22px 7px;
		}
	</style>
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?392534319c7c718ea324b5d3b4d0127d";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>

<body >

<div class="g-hd">
		<div class="g-fit">
			<div class="m-header">
				<div class="logo">
					<a href="/"><img src="./img/logo.png" alt="logo"></a>
					<span>产品手册</span>
				</div>
			</div>
		</div>
</div>

<div class="g-box">
    <div class="g-nav j-nav"><%-nav%></div>
    <div class="g-container j-cnt"><%-content%></div>
</div>

<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA1443074214845'],['_setLocalGifPath', '/UA1443074214845/__utm.gif'],['_setLocalServerMode']);
	  _gaq.push(['_addOrganic','baidu','word']);_gaq.push(['_addOrganic','soso','w']);_gaq.push(['_addOrganic','youdao','q']);
	  _gaq.push(['_addOrganic','sogou','query']);_gaq.push(['_addOrganic','so.360.cn','q']);
	  _gaq.push(['_trackPageview']);_gaq.push(['trackPageLoadTime']);
	  (function() {
	      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	      ga.src = '/ga.js';
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

	<!--网易DA-->
	<script>
		(function(i,s,ob,g,r,a,m)
		{
			i['AnalyticsObject']=r;

			i[r] = i[r] || function()
			{
				(i[r].ops = i[r].ops || []).push(arguments);
			}

			a = s.createElement(ob);
			a.type = "text/javascript";
			m = s.getElementsByTagName(ob)[0];
			a.async=false;
			a.src=g;
			m.parentNode.insertBefore(a,m);
		})(window, document, 'script', '//rev.da.netease.com/da.js?t='+ parseInt((new Date().getTime())/1000000), '_dapush');

		_dapush('create','DA-B7C2-372B39F3906C'); //其中，DA-A250-E78A2EEA7B9E是推广分析系统通过uuid生成的唯一标识产品的序列,不同产品此序列不同

		_dapush('page_view');

	</script>

	<script>function lg(n,p,l){_gaq.push(['_trackEvent',n||'',p||'',l||'']);}</script>

<script src="./js/jquery.min.js"></script>
<script src="./js/ZeroClipboard.min.js"></script>
<script src="./js/doc.js"></script>
</body>
</html>
